button{
    background-color: #2271BF;
    border-radius: 16px;
    box-shadow: 0 14px 12px 0;
    font-size: 3vmin;
    color: #FFFFFF;
    text-align: center;
    height: 5vmin;
}


img{
    height: 20vmin; 
    width: 20vmin;
}

.winText{
    color: #90EE90;
    white-space: pre-line;
    font-size: 3vmin;
}

.failText{
    color:rgb(243, 101, 113);
    white-space: pre-line;
    font-size: 3vmin;
}