.disabledLetter{
    color: black;
    display:inline;
    right: 2vw;
    top: 4.5vw;
}

.enabledLetter{
    color: #8080808a;
    display:inline;
    right: 2vw;
    top: 4.5vw;
}

.dot{
    height: 5vw;
    width: 5vw;
    background-color: #8080801a;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    line-height: 5vw;
    font-size: 3vw;
  }
