
  <div id="top">  
    <h1 id="title">
      <span class="dot" id="dotLeft"></span> 
        {{title}} 
      <span class="dot" id="dotRight"></span>
    </h1>
  </div>


  <div id="underTop">

    <div class="split leftView">
        <app-image-view [id]="failuresNum"></app-image-view>      
    </div>
    
    
    <div class="split middleView">
      <div class="middleTop">
        <div class="words" *ngFor="let word of movieWordsLetters">
          <span>
          <div [class]="initOpenLetters.indexOf(w) ==-1 && w != '*' ?'letter letterOpen':'letter'" *ngFor="let w of word">

            {{w=="*"?"&#160;":w}} 
          
          </div>
          </span>
          &nbsp;&nbsp;&nbsp;
        </div>
      </div>

      <div class="middleBottom">
        <app-letters-view [disabledLetters]="chosenLetters" (chooseLetter)="gameEnded?'':openLetter($event)"></app-letters-view>
      </div>
    </div>


    <div class="split rightView" *ngIf="gameEnded">
        <app-status-view [id]="gameWin? 1: 0" (newGame)="initGame()"></app-status-view>
    </div>
</div>
    

